.map {
    width: 1184px;
    height: 1140px;
    background:url(../img/map.png) left top no-repeat;
    position: relative;
}

.map .overlay{
    width: 1184px;
    height: 1140px;
    background:url(../img/map.png) 1184px top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.map img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map .mapy{
    position: relative;
    border-radius: 5px;
    color:#FFF;
    background: #000;
    padding:0 10px;
    display: inline;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}